<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Padauk&family=Palanquin&display=swap" rel="stylesheet">
    <title>Ezbike | Bicycle Rental</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 bg-dark-blue" id="left-bar">
                <ul class="left-nav">
                    <li><a href="#"><i class="fas fa-columns fa-2x text-gray" title="dashboard"></i></a></li>
                    <li><a href="#"><i class="fas fa-poll fa-2x text-gray" title="reports"></i></a></li>
                    <li><a href="#"><i class="fas fa-bicycle fa-2x text-gray" title="reports"></i></a></li>
                </ul>
            </div>
            <div class="col-md-11 bg-light-blue">
                <div class="flex-row">
                    <!-- user log-in name -->
                    <div class="col-md-2">
                        <h3 class="text-light p-1 ff-2">Administrator</h3>
                    </div>
                    <!-- search -->
                    <div class="col-md-7"> 
                        <form action="" method="post">
                            <input class="searchBox ff-2" type="search" name="" id="" placeholder="Search in files">
                        </form>
                    </div>
                    <div class="col-md-3">
                        <ul class="utilities">
                            <li><a href="#"> <span class="profile-logo"></span> </a></li>
                            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe-asia"></i></a></li>
                            <li><a href="#"><i class="fas fa-bars"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-12 bg-all">
                        <div class="row ff-2 p-1">
                            <div class="col-md-3 box-1">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ducimus nostrum quibusdam perspiciatis quidem facilis aliquam sint nobis non adipisci.
                            </div>
                            <div class="col-md-3 box-2">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ducimus nostrum quibusdam perspiciatis quidem facilis aliquam sint nobis non adipisci.
                            </div>
                            <div class="col-md-3 box-3">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ducimus nostrum quibusdam perspiciatis quidem facilis aliquam sint nobis non adipisci.
                            </div>
                            <div class="col-md-3 box-4">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi ducimus nostrum quibusdam perspiciatis quidem facilis aliquam sint nobis non adipisci.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="./assets/js/index.js"></script>


</body>
</html>